<%= form_for(workout) do |f| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
      <% workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :time_cap %>
    <%= f.time_select :time_cap %>
  </div>

  <%= form_for @workout do |f| %>
    Movements:
    <ul>
      <%= f.fields_for :workout_movements do |wmf| %>
        <li>
          <div class="field">
            <%= wmf.label :movements_id %>
            <%= wmf.collection_select(:movements_id, Movement.all, :id, :name) %>
          </div>
        
          <div class="field">
            <%= wmf.label :measurement_types_id %>
            <%= wmf.collection_select(:measurement_types_id, MeasurementType.all, :id, :name) %>
          </div>
        
          <div class="field">
            <%= wmf.label :measurement_amount %>
            <%= wmf.text_field :measurement_amount %>
          </div>

        </li>
      <% end %>
    </ul>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
