<%= form_for(workout_movement) do |f| %>
  <% if workout_movement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout_movement.errors.count, "error") %> prohibited this workout_movement from being saved:</h2>

      <ul>
      <% workout_movement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movements_id %>
    <%= f.collection_select(:movements_id, Movement.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :measurement_types_id %>
    <%= f.collection_select(:measurement_types_id, MeasurementType.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :measurement_amount %>
    <%= f.text_field :measurement_amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
